Repository mtgto/hugill: changes, and which lefthook commands are due for each by the changed paths.
All: biome, cargo

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    biome:
      glob: "*.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx,json,jsonc,svelte}"
      run: pnpm exec biome check --write --no-errors-on-unmatched --files-ignore-unknown=true --colors=off {staged_files}
      stage_fixed: true
    cargo:
      glob: "src-tauri/*.rs"
      run: cargo fmt --manifest-path src-tauri/Cargo.toml -- --check {staged_files}

Ignore hash related labels
  src-tauri/src/lib.rs
Due: cargo

Show pod status with colored circle
  src/routes/+page.svelte
Due: biome

Disable open button if pod is not running
  src/routes/+page.svelte
Due: biome

Resolve container status instead of pod status
  src-tauri/src/watcher.rs
  src/routes/+page.svelte
Due: biome, cargo

Filter pods for tray
  src-tauri/src/lib.rs
  src-tauri/src/watcher.rs
Due: cargo

Delete pods if watcher returns error
  src-tauri/src/lib.rs
Due: cargo

Set title attr for status
  src/routes/+page.svelte
Due: biome

Open remote container from Tray
  src-tauri/src/lib.rs
  src-tauri/src/watcher.rs
Due: cargo

Omit unnecessarily returns
  src-tauri/src/lib.rs
  src-tauri/src/settings.rs
  src-tauri/src/watcher.rs
Due: cargo

Focus input field of dialog
  src/lib/RemotePathDialog.svelte
Due: biome

Autocomplete
  src/lib/RemotePathDialog.svelte
  src/routes/+page.svelte
Due: biome

widen line width
  biome.jsonc
  src/routes/+page.svelte
Due: biome

Set CSP
  src-tauri/tauri.conf.json
Due: biome

Build
  README.md
  package.json
  pnpm-lock.yaml
  src-tauri/Cargo.lock
  src-tauri/Entitlements.plist
  src-tauri/tauri.conf.json
Due: biome

Disable App Sandbox
  src-tauri/Entitlements.plist
Due: none

Show watch error event in webview
  src-tauri/src/lib.rs
  src-tauri/src/watcher.rs
  src/routes/+page.svelte
Due: biome, cargo

Skip menu update while tray icon is opened
  src-tauri/src/lib.rs
Due: cargo

Show failure reason if fail to execute code command
  src-tauri/src/lib.rs
  src/routes/+page.svelte
Due: biome, cargo

Show dialog when failed to setup watcher
  package.json
  pnpm-lock.yaml
  src-tauri/Cargo.lock
  src-tauri/Cargo.toml
  src-tauri/capabilities/default.json
  src-tauri/src/lib.rs
Due: biome, cargo

Add info
  README.md
Due: none

Add demo
  README.md
Due: none

Add CHANGELOG
  CHANGELOG.md
  package.json
  pnpm-lock.yaml
Due: biome

Start watcher from webview
  package.json
  pnpm-lock.yaml
  src-tauri/Cargo.lock
  src-tauri/Cargo.toml
  src-tauri/capabilities/default.json
  src-tauri/src/lib.rs
  src/routes/+page.svelte
Due: biome, cargo

Add polling interval msec to settings
  src-tauri/src/lib.rs
  src-tauri/src/settings.rs
  src-tauri/src/watcher.rs
Due: cargo

Delete unused images
  src/app.html
  static/favicon.png
  static/svelte.svg
  static/tauri.svg
  static/vite.svg
Due: none

Update
  README.md
Due: none

Enable to abort cluster watcher
  src-tauri/src/lib.rs
  src-tauri/src/watcher.rs
  src/routes/+page.svelte
Due: biome, cargo

Bump version to v0.2.0
  CHANGELOG.md
  src-tauri/Cargo.lock
  src-tauri/Cargo.toml
Due: none

Bump version to v0.2.0
  src-tauri/tauri.conf.json
Due: biome

Select native icon of tray menu item
  src-tauri/src/lib.rs
  src-tauri/src/watcher.rs
Due: cargo

Enable each mouse buttons
  src-tauri/src/lib.rs
Due: cargo

Add namespace to settings
  src-tauri/src/lib.rs
  src-tauri/src/settings.rs
  src-tauri/src/watcher.rs
Due: cargo

Update
  CHANGELOG.md
Due: none

Fix system tray refer old ClusterStatus
  CHANGELOG.md
  src-tauri/src/lib.rs
Due: cargo

Add code command to settings
  CHANGELOG.md
  src-tauri/src/lib.rs
  src-tauri/src/settings.rs
Due: cargo

Set transparent to titlebar
  src-tauri/capabilities/default.json
  src-tauri/src/lib.rs
  src-tauri/tauri.conf.json
  src/routes/+page.svelte
Due: biome, cargo

Set minimum window size
  src-tauri/src/lib.rs
Due: cargo

Add margin to icon
  src-tauri/icons/icon.icns
Due: none

Fix icon size
  src-tauri/icons/icon.icns
Due: none

Update packages
  package.json
  pnpm-lock.yaml
  src-tauri/Cargo.lock
Due: biome
