Repository mtgto/hugill: changes, and which lefthook commands are due for each by the changed paths.
All: biome, cargo

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    biome:
      glob: "*.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx,json,jsonc,svelte}"
      run: pnpm exec biome check --write --no-errors-on-unmatched --files-ignore-unknown=true --colors=off {staged_files}
      stage_fixed: true
    cargo:
      glob: "src-tauri/*.rs"
      run: cargo fmt --manifest-path src-tauri/Cargo.toml -- --check {staged_files}

Update
  CHANGELOG.md
Due: none

Bump version to v0.3.0
  src-tauri/Cargo.lock
  src-tauri/Cargo.toml
  src-tauri/tauri.conf.json
Due: biome

Update default code_command
  CHANGELOG.md
  src-tauri/src/settings.rs
Due: cargo

Bump version to v0.3.1
  CHANGELOG.md
  src-tauri/Cargo.lock
  src-tauri/Cargo.toml
  src-tauri/tauri.conf.json
Due: biome

Update packages
  package.json
  pnpm-lock.yaml
  src-tauri/Cargo.lock
Due: biome
