Repository mtgto/hugill: changes, and which lefthook commands are due for each by the changed paths.
All: biome, cargo

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    biome:
      glob: "*.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx,json,jsonc,svelte}"
      run: pnpm exec biome check --write --no-errors-on-unmatched --files-ignore-unknown=true --colors=off {staged_files}
      stage_fixed: true
    cargo:
      glob: "src-tauri/*.rs"
      run: cargo fmt --manifest-path src-tauri/Cargo.toml -- --check {staged_files}

Update packages
  package.json
  pnpm-lock.yaml
Due: biome

Set indent width to 4
  .editorconfig
  .lefthook.yml
  biome.jsonc
  src-tauri/Cargo.lock
  src-tauri/capabilities/default.json
  src/App.svelte
  src/main.ts
  svelte.config.js
Due: biome

Set SystemTray icon
  src-tauri/Cargo.lock
  src-tauri/Cargo.toml
  src-tauri/icons/SystemTray.png
  src-tauri/icons/SystemTray@2x.png
  src-tauri/src/lib.rs
Due: cargo

Add running menu item
  src-tauri/src/lib.rs
Due: cargo

Spawn watcher thread
  src-tauri/src/lib.rs
  src-tauri/src/watcher.rs
Due: cargo

polling
  src-tauri/src/watcher.rs
Due: cargo

Find pods in spawned thread
  src-tauri/Cargo.lock
  src-tauri/Cargo.toml
  src-tauri/src/lib.rs
  src-tauri/src/watcher.rs
Due: cargo

Use async_runtime and tokio::time::sleep for polling
  src-tauri/Cargo.lock
  src-tauri/Cargo.toml
  src-tauri/src/lib.rs
  src-tauri/src/watcher.rs
Due: cargo

Print current-context and default namespace of k8s
  src-tauri/src/watcher.rs
Due: cargo

Refactor
  src-tauri/src/watcher.rs
Due: cargo

Update to Vite v6
  package.json
  pnpm-lock.yaml
  vite.config.ts
Due: biome

Use SvelteKit
  .gitignore
  index.html
  package.json
  pnpm-lock.yaml
  public/typescript.svg
  src-tauri/tauri.conf.json
  src/App.svelte
  src/app.html
  src/main.ts
  src/routes/+layout.ts
  src/routes/+page.svelte
  src/styles.css
  static/favicon.png
  static/svelte.svg
  static/tauri.svg
  static/vite.svg
  svelte.config.js
  tsconfig.json
  vite.config.ts
Due: biome

macOS only
  src-tauri/capabilities/default.json
Due: biome

Print container name
  src-tauri/src/lib.rs
  src-tauri/src/watcher.rs
Due: cargo

Add Container Status structs
  src-tauri/src/watcher.rs
Due: cargo

Push pod status to vec
  src-tauri/src/watcher.rs
Due: cargo

Deserialize payload of event
  src-tauri/src/lib.rs
  src-tauri/src/watcher.rs
Due: cargo

Update Tray menu
  src-tauri/src/lib.rs
  src-tauri/src/watcher.rs
Due: cargo

Emit pod status to webview
  src-tauri/src/lib.rs
  src/routes/+page.svelte
Due: biome, cargo

Show pods in webview
  package.json
  pnpm-lock.yaml
  src/routes/+layout.ts
  src/routes/+page.svelte
Due: biome

Add dialog component WIP
  src/app.html
  src/lib/RemotePathDialog.svelte
  src/routes/+page.svelte
  svelte.config.js
Due: biome

Dialog for workspace folder
  src/lib/RemotePathDialog.svelte
  src/routes/+page.svelte
Due: biome

Create url for vscode-remote
  package.json
  pnpm-lock.yaml
  src-tauri/Cargo.lock
  src-tauri/Cargo.toml
  src-tauri/src/lib.rs
  src/routes/+page.svelte
Due: biome, cargo

Open remote container in vscode
  src-tauri/src/lib.rs
Due: cargo

Open remote container from WebView
  src-tauri/src/lib.rs
  src/lib/RemotePathDialog.svelte
  src/routes/+page.svelte
Due: biome, cargo

Show notification after open remote container
  src/routes/+page.svelte
Due: biome

Use camelCase
  src-tauri/src/watcher.rs
  src/routes/+page.svelte
Due: biome, cargo

bind remotePath
  biome.jsonc
  src/lib/RemotePathDialog.svelte
  src/routes/+page.svelte
Due: biome

Handle submit event
  src/lib/RemotePathDialog.svelte
Due: biome

Use binded remotePath
  src/lib/RemotePathDialog.svelte
  src/routes/+page.svelte
Due: biome

Fetch labels of pod
  src-tauri/src/watcher.rs
Due: cargo

Add Store plugin
  package.json
  pnpm-lock.yaml
  src-tauri/Cargo.lock
  src-tauri/Cargo.toml
  src-tauri/capabilities/default.json
  src-tauri/src/lib.rs
Due: biome, cargo

Save dummy data
  src-tauri/src/lib.rs
Due: cargo

Set default setting
  src-tauri/src/lib.rs
Due: cargo

Add workspace_folder to PodStatus
  src-tauri/src/lib.rs
  src-tauri/src/watcher.rs
  src/routes/+page.svelte
Due: biome, cargo

Ignore when None
  src-tauri/src/watcher.rs
Due: cargo

Compare the labels of the pod
  src-tauri/src/watcher.rs
Due: cargo

Set Store to Manager
  src-tauri/src/lib.rs
  src-tauri/src/settings.rs
  src-tauri/src/watcher.rs
Due: cargo

Save workspace folder after vscode open
  src-tauri/src/lib.rs
  src-tauri/src/settings.rs
  src/routes/+page.svelte
Due: biome, cargo

Update workspace_folder only
  src-tauri/src/lib.rs
Due: cargo
